html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    padding: 0 70px;
}

:root {
    --font-family: "Roboto", sans-serif;
}
/* sidenav */
.header__burger {
    margin-top: 25px;
    display: none;
}
.burger__line {
    background: #b36050;
    width: 20px;
    height: 3px;
}

.sidenav__line {
    max-width: 100%;
    height: 1px;
    background-color: silver;
}
.sidenav {
    width: 80%;
}
.sidenav img {
    margin-left: 20px;
    margin-top: 10px;
    max-width: 80px;
}
.sidenav__logo {
}
.sidenav-close {
}
.material-icons {
}
.sidenav__line {
}
/* header */
.header {

}
.header__container {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header__top {
    background: #b36050;
    padding: 10px 0;
}

.header__top p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    text-align: center;
    color: #f1d3b9;
}
.header__bottom-flex {
    padding: 5px 8px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.header__bottom-flex ul {
    padding-top: 15px;
    padding-left: 14px;
    width: 424px;
    height: 61px;
    list-style: none;
    display: flex;
    gap: 28px;
}
.header__bottom-flex ul a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;
    color: #b4604d;
    text-decoration: none;
}
.header__bottom-flex li {
    transition: transform 0.3s ease;
    transform-origin: center;
}
.header__bottom-flex li:hover{
    transform: scale(1.1);
}
.header__logo {
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%)
}
.header__button {
    padding: 15px 16px;
    max-width: 128px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__button p {
    margin-top: 3px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    color: #b4604d;
}
.header__account-button {
    margin-top: 2px;
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #b45f4d;
    transition: transform 0.3s ease;

}
.header__account-button:hover {
    transform: scale(1.1);
}

.header__buy-button {
    display: flex;
    gap: 5px;
    transition: transform 0.3s ease;
}

.header__buy-button:hover {
    transform: scale(1.1);
}


@media screen and (max-width: 860px){
    .header__burger {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .header__bottom-flex {
        padding: 0 25px;
    }

    .header__bottom-flex ul {
        display: none;
    }
    
    .header__account-button {
        display: none;
    }

    .header__button {
        margin-top: 8px;
        max-width: 50px;
    }
}

/* show now */
.shop__now {
    display: flex;
    flex-direction: column;
}
.show__now-top {
    background-image: url("../img/background-dae.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 435px;
}
.show__now-top > .container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}
.shop__now__top-button {
    margin-bottom: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b45f4d;
    width: 128px;
    height: 48px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    text-transform: uppercase;
    line-height: 29px;
    color: #fff;
    transition: transform 0.3s ease;
}
.shop__now__top-button:hover {
    transform: scale(1.1);
}
.show__now-bottom {
    padding-top: 68px;
    padding-bottom: 70px;
    background-color: #A9AE8D;

}

.show__now-bottom h5 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-transform: uppercase;
    color: #f6f4ec;
}

.show__now-bottom h3 {
    margin-top: 15px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 33px;
    line-height: 63px;
    color: #f6f4ec;
}

.show__now-bottom a {
    margin-top: 30px;
    display: inline-block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #f6f4ec;
    text-decoration: none;
    transition: transform 0.3s ease;
    transform-origin: left;
}

.show__now-bottom a:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 390px){
    .show__now-bottom h3 {
        line-height: 35px;
    }
}

/* showcase */
.showcase {
    background: #f6f4ec;
    padding-top: 39px;
    padding-bottom: 87px;

}
.showcase h5 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 23px;
    line-height: 170%;
    text-transform: capitalize;
    text-align: center;
    color: #b45f4d;
}
.showcase__grid-items {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 80px;
}
.showcase__grid-item {
}
.showcase__grid-item img {
    width: 100%;
}
.show__card-title {
    margin-top: 5px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #b45f4d;
}
.show__card-price {
    margin-top: 5px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #b45f4d;
}

@media screen and (max-width: 800px){
    .showcase__grid-items {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }
}

/* shop sets */
.shop__sets {
    padding-top: 24px;
    padding-bottom: 50px;
    padding-left: 41px;
    padding-right: 41px;
}
.shop__sets-flex {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shop__sets-flex img {
    width: 100%;
}
.shop__sets__bottom-flex {
    position: absolute;
    top: 325px;
    width: 100%;
    padding: 30px;
    background: #df9b7a;
    display: flex;
    justify-content: space-between;
}

.shop__sets__bottom-flex h5 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    text-transform: uppercase;
    color: #f6f4ec;
}

.shop__sets__bottom-flex a {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #f6f4ec;
    transition: transform 0.3s ease;
}

.shop__sets__bottom-flex a:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1100px){
    .shop__sets-flex {
        position: static;
    }

    .shop__sets__bottom-flex {
        position: static;
    }
    
}

@media screen and (max-width: 920px) {
    .shop__sets {
        padding-left: 0;
        padding-right: 0;
    }

    .shop__sets__bottom-flex {
        flex-direction: column;
        gap: 20px;

    }
}

@media screen and (max-width: 470px) {
    *.container {
        padding: 0 20px;
    }
    .shop__sets__bottom-flex {
        padding: 10px 30px;
        gap: 10px;
    }

    .shop__sets__bottom-flex h5 {
        font-size: 15px;
    }

    .shop__sets__bottom-flex a {
        font-size: 15px;
    }
}

/* meet dae */
.meet__dae {
    position: relative;
    background: #f1d3b9;
    padding-bottom: 57px;

}

.meet__dae img {
    margin-top: 62px;
    margin-left: 183px;
    max-width: 632px;
    width: 100%;
    height: auto;
}
.meet__dae-text {
    position: absolute;
    top: 288px;
    right: 157px;
    padding: 0 51px;
    background: #f8f8f8;
    max-width: 518px;
    width: 100%;
    height: 582px;
}

.meet__dae-text h3 {
    margin-top: 50px;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 57px;
    color: #b45f4d;
}

.meet__dae-text p {
    margin-top: 24px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: #b45f4d;
}
.meet__dae-text a {
    margin-top: 44px;
    display: inline-block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #b45f4d;
    text-decoration: none;
    transition: transform 0.3s ease;
    transform-origin: left;
}

.meet__dae-text a:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1200px){
    .meet__dae-text {
        padding: 0 20px;
        top: 480px;
        max-width: 400px;
    }

    .meet__dae-text a {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1050px) {
    .meet__dae {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .meet__dae-text {
        position: static;
    }
    .meet__dae img {
        margin-left: 0;
        max-width: 500px;
    }
}

@media screen and (max-width: 900px) {
    .meet__dae {
        padding: 0 150px 50px;
    }
    .meet__dae-text {
        max-width: none;
        height: auto;
    }

    .meet__dae-text h3 {
        margin-top: 10px;
    }
    .meet__dae-text p {
        margin-top: 0;
    }
    .meet__dae-text a {
        display: flex;
        justify-content: center;
    }
    .meet__dae img {
        max-width: none;
    }
}

@media screen and (max-width: 700px) {
    .meet__dae {
        padding: 0 70px 50px;
    }
}

@media screen and (max-width: 500px){
    .meet__dae {
        padding: 0 30px 50px;
    }

    .meet__dae-text p {
        line-height: 30px;
    }
}

/* follow us */
.follow__us {
    margin-top: 23px;
}
.follow__us h6 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 23px;
    line-height: 170%;
    text-transform: capitalize;
    text-align: center;
    color: #000;
    }
.follow__us__items-flex {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

/* footer */
.footer {
    background-color: #F6F4EC;
    border-top: solid 2px #f1d3b9;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer__top-flex {
    padding-left: 50px;
    padding-right: 165px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer__top-item {
    max-width: 310px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__top-item ul li:not(:first-child) {
    margin-top: 8px;
}

.footer__top-item a {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #b45f4d;
}
.footer__top-item ul li {
    transition: transform 0.3s ease;
    transform-origin: left;
}
.footer__top-item ul li:hover {
    transform: scale(1.1);
}

.footer__top-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #c17c6c;
}
.footer__top-text p:nth-of-type(2){
    margin-top: 20px;
}
.footer__bottom {
    margin-top: 144px;
    margin-left: 50px;
}
.footer__bottom p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #c17c6c;
}

@media screen and (max-width: 945px){
    .footer__top-flex {
        gap: 50px;
    }
    .footer__bottom {
        margin-top: 50px;
    }
    
}

@media screen and (max-width: 715px) {
    .footer__top-flex {
        padding: 0 50px;
    }
}

@media screen and (max-width: 400px){
    .footer__top-item {
        flex-direction: column;
        gap: 20px;
    }
}