html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    padding: 0 70px;
}

:root {
    --font-family: "Roboto", sans-serif;
}
/* sidenav */
.header__burger {
    margin-top: 25px;
    display: none;
}
.burger__line {
    background: #b36050;
    width: 20px;
    height: 3px;
}

.sidenav__line {
    max-width: 100%;
    height: 1px;
    background-color: silver;
}
.sidenav {
    width: 80%;
}
.sidenav img {
    margin-left: 20px;
    margin-top: 10px;
    max-width: 80px;
}
.sidenav__logo {
}
.sidenav-close {
}
.material-icons {
}
.sidenav__line {
}
/* header */
.header {

}
.header__container {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header__top {
    background: #b36050;
    padding: 10px 0;
}

.header__top p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    text-align: center;
    color: #f1d3b9;
}
.header__bottom-flex {
    padding: 5px 8px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.header__bottom-flex ul {
    padding-top: 15px;
    padding-left: 14px;
    width: 424px;
    height: 61px;
    list-style: none;
    display: flex;
    gap: 28px;
}
.header__bottom-flex ul a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;
    color: #b4604d;
    text-decoration: none;
}
.header__bottom-flex li {
    transition: transform 0.3s ease;
    transform-origin: center;
}
.header__bottom-flex li:hover{
    transform: scale(1.1);
}
.header__logo {
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%)
}
.header__button {
    padding: 15px 16px;
    max-width: 128px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__button p {
    margin-top: 3px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    color: #b4604d;
}
.header__account-button {
    margin-top: 2px;
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #b45f4d;
    transition: transform 0.3s ease;

}
.header__account-button:hover {
    transform: scale(1.1);
}

.header__buy-button {
    display: flex;
    gap: 5px;
    transition: transform 0.3s ease;
}

.header__buy-button:hover {
    transform: scale(1.1);
}


@media screen and (max-width: 860px){
    .header__burger {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .header__bottom-flex {
        padding: 0 25px;
    }

    .header__bottom-flex ul {
        display: none;
    }
    
    .header__account-button {
        display: none;
    }

    .header__button {
        margin-top: 8px;
        max-width: 50px;
    }
}

/* show now */
.shop__now {
    display: flex;
    flex-direction: column;
}
.show__now-top {
    background-image: url("../img/background-dae.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 435px;
}
.show__now-top > .container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}
.shop__now__top-button {
    margin-bottom: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b45f4d;
    width: 128px;
    height: 48px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    text-transform: uppercase;
    line-height: 29px;
    color: #fff;
    transition: transform 0.3s ease;
}
.shop__now__top-button:hover {
    transform: scale(1.1);
}
.show__now-bottom {
    padding-top: 68px;
    padding-bottom: 70px;
    background-color: #A9AE8D;

}

.show__now-bottom h5 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-transform: uppercase;
    color: #f6f4ec;
}

.show__now-bottom h3 {
    margin-top: 15px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 33px;
    line-height: 63px;
    color: #f6f4ec;
}

.show__now-bottom a {
    margin-top: 30px;
    display: inline-block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #f6f4ec;
    text-decoration: none;
    transition: transform 0.3s ease;
    transform-origin: left;
}

.show__now-bottom a:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 390px){
    .show__now-bottom h3 {
        line-height: 35px;
    }
}

/* showcase */
.showcase {
    background: #f6f4ec;
    padding-top: 39px;
    padding-bottom: 87px;

}
.showcase h5 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 23px;
    line-height: 170%;
    text-transform: capitalize;
    text-align: center;
    color: #b45f4d;
}
.showcase__grid-items {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 80px;
}
.showcase__grid-item {
}
.showcase__grid-item img {
    width: 100%;
}
.show__card-title {
    margin-top: 5px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #b45f4d;
}
.show__card-price {
    margin-top: 5px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #b45f4d;
}

@media screen and (max-width: 800px){
    .showcase__grid-items {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }
}